openapi: 3.0.3
info:
  title: PA160 Chat Web Service
  version: '1.0'
  description: Example of a web service with OpenAPI description
  contact:
    email: makub@ics.muni.cz
    name: Martin Kuba
servers:
  - url: 'https://ip-78-128-251-137.flt.cloud.muni.cz:8443/api'
  - url: '{scheme}://{server}:{port}}/api'
    variables:
      scheme: { enum: [ 'https', 'http' ], default: http }
      server: { default: localhost }
      port: { default: '8080' }
paths:
  '/messages':
    get:
      operationId: getAllMessages
      summary: Returns all messages.
      responses:
        '200':
          $ref: '#/components/responses/ListOfChatMessages'
    post:
      operationId: newMessage
      summary: Creates a new message.
      parameters:
        - { name: text, required: true, in: query, schema: { type: string } }
        - { name: author, required: false, in: query, schema: { type: string } }
        - { name: textColor, required: false, in: query, schema: { type: string } }
        - { name: backgroundColor, required: false, in: query, schema: { $ref: "#/components/schemas/BgColor" } }
      responses:
        '200':
          description: Returns the new message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessage"
components:
  schemas:
    BgColor:
      type: string
      enum:
        - lightgray
        - white
        - lightyellow
        - lightblue
        - "#ffe4c4"
    ChatMessage:
      type: object
      properties:
        text: { type: string }
        author: { type: string }
        textColor: { type: string }
        backgroundColor: { type: string }
      required:
        - text
  responses:
    ListOfChatMessages:
      description: "returns List<ChatMessage>"
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ChatMessage"